@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
  }

  li,a {
    font-weight: 500;
    font-size: 16px;
    color: #EDF0F1;
    text-decoration: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
  }

  #navigation {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
  }

  #navigation li {
    display: inline-block;
    padding: 0px 20px;
  }

  #navigation li a {
    transition: all 0.3s ease 0s;
  }

  #navigation li a:hover {
    color: #0088A9;
  }

  #logo {
    width: 50px;
    height: 50px;
  }